<br><br>
  
<div class="login-wrap">
    <div class="login-html">
        <div class="login-form">
            
        
        <!-- Bottom of page text -->
        <div class="welctext">
            <center>
            <br>
            <br>
            <h2><strong> welcome#index </strong></h2> 
            </center>
            
            <br><li class="nav-item"> <a class="nav-link" href="users/1"> /users/1 </a></li><br>
            <li class="nav-item"> <a class="nav-link" href="users/2"> /users/2 </a></li><br>
            <li class="nav-item"> <a class="nav-link" href="users/new"> Create Acct: /users/new </a></li><br>
            <li class="nav-item"> <a class="nav-link" href="login"> Login: /sessions/new </a></li>
            
        </div>
    </div>
</div>