// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alertform {
    color: #e70000;
    font: bold 30px Arial, sans-serif;
    text-shadow: 1px 1px 1px #d25757;
    padding: 18px;
    text-align: center;
}