// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.u-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 20px Arial, sans-serif;
    color: black;
    background-color: white;
}
.u-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    font: normal 14px Arial, sans-serif;
}
.u-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 15px;
    text-shadow: 1px 1px 1px #fff;
    font: normal 14px Arial, sans-serif;
}

.allTitle {
    padding: 20px;
    color: white;
    font-size: 30px;
}

