// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profilepic {
    float: left;
}

.usern {
    position: absolute;
    left: 225px;
    text-align: left;
    font: normal 40px Arial, sans-serif;
}
.imgleft {
    left: 90px;
    float: left;
    text-align: right;
}

.index-table {
    border: solid 1px black;
    border-collapse: collapse;
    font: normal 20px Arial, sans-serif;
    color: black;
    background-color: white;
    table-layout: fixed;
    width: 290px;
    margin-right: 15px;
    float: left;
}
.index-table tbody td {
    border: 0.5px solid black;
    width: 100px;
    padding: 15px;
    text-shadow: 1px 1px 1px #fff;
    font: normal 14px Arial, sans-serif;
    overflow: auto;
}

.gifts-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    font: normal 20px Arial, sans-serif;
    color: black;
    background-color: white;
    table-layout: fixed;
    width: 580px;
}

.gifts-table tbody td {
    border: 0.5px solid black;
    width: 100px;
    color: #333;
    padding: 15px;
    text-shadow: 1px 1px 1px #fff;
    font: normal 14px Arial, sans-serif;
    overflow: auto;
}

.allTitle {
    padding: 20px;
    color: white;
    font-size: 30px;
}

