<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Gifto - My Profile</title>
    <style>
        body {
            font-size: 12px;
        }
    </style>
    <nav>
        <a href="#myprofile">My Profile</a>
        <a href="#friends">Friends</a>
        <a href="#addfriend">Add Friend</a>
    </nav>
</head>
<!-- Profile Information -->
<profile>
    <h1>My Profile</h1>
    <img src="https://imgur.com/jyQXUAx.png" alt="Profile Picture" width="100px" </img> <button type="button" formaction="#addfriend">Add Friend</button>
    <p><strong>Username</strong></p>
  <form class="bio" action="/page.php" target="_self">
    <textarea type="text" name="bio" rows="3">
      Enter a bio...
    </textarea>
      <input type="submit" value="Save"/>
      </form>
</profile>
<!-- Footer -->
<footer>
    <p>Footer text goes here</p>
</footer>

</html>