<!-- Change Gift Page -->
<hr>
<div class="login-wrap">
 <div class="login-html">
<div class="container bootstrap snippet">
        <div class="login-form">
            <!---->
            
            <h2>Edit Gift</h2>
            <br>
            <div class="group">

                </div>
                <div class="group">

                </div>
                <div class="group">

                </div>
        </div>
    </div>
</div>
</div>