<h1>All Users</h1>

<table class="u-table">
    <thread>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thread>
    
    <tbody>
    <% @users.each do |user| %>
        <tr>
            <td><img src="profile.png" alt="" border=3 height=100 width=100></img></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to "View Profile", user_path(user) %></td>
        </tr>    
    <% end %>
    </tbody>
</table>
