<!-- Friends Page -->

<br>
<div class="login-wrap">
 <div class="login-html">
<div class="allTitle">All Users</div>
<br>

<table class="u-table">
    <thread>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>View</th>
        </tr>
    </thread>
    
    <tbody>
    <% @users.each do |user| %>
        <tr>
            <td><img src="https://imgur.com/8jNuyUl.jpg" height=100 width=100 alt="Profile Picture" border=3></img></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to "View Profile", user_path(user) %></td>
        </tr>    
    <% end %>
    </tbody>
</table>
</div>
</div>